    <div flex layout="column">
        <md-toolbar md-whiteframe="3">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button md-button" type="button" ng-click="hm.openLeftMenu()"
                           aria-label="Menu">
                    <i style="font-size: 1.7em" class="fa fa-bars" aria-hidden="true"></i>
                </md-button>
                <h2 md-truncate flex><i class="fa fa-power-off" aria-hidden="true"></i> NTDomo</h2>
                <md-menu-bar>
                    <md-menu >
                        <!--<md-button aria-label="Open demo menu" class="md-icon-button" >-->
                            <img ng-src="{{hm.userAvatar}}"  class="md-avatar" ng-click="$mdMenu.open($event)" alt="" />
                        <!--</md-button>-->
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="hm.openSettings()"> <i class="fa fa-cog"></i>Ajustes</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="hm.logout()"> <i class="fa fa-sign-out"></i>Cerrar sesion</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
<!-- <span md-menu-align-target>Option</span> {{item}} -->

              <!--  <md-menu>

                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                Redial
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>-->
                <!--  <md-button>
                      Right Bar Button
                  </md-button>-->
            </div>
        </md-toolbar>


        <md-content layout-padding  style="min-height: calc(100vh - 80px)">
            <md-sidenav md-component-id="left" class="" >
                <md-button style="position:absolute; right: 10px;" class="md-fab md-mini md-primary" ng-click="hm.showNewDevice($event)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>

                <h3>Dispositivos  </h3>


                <ul>
                    <li ng-repeat="device in hm.devices" ng-click="hm.changeSelected(device)"><i class="fa {{device.icon}}" aria-hidden="true"></i> {{device.name}}</li>
                </ul>

            </md-sidenav>
            <!--{{hm.selected}}-->

          <!--  contenido-->
            <div ng-switch on="hm.selected.type">

                <div ng-switch-when="temperature" >
                    <md-button style="position:absolute;top:15px; right:15px; font-size: 1.2em" class="md-fab md-primary" ng-click="hm.showModifyDevice($event)"><i class="fa fa-pencil" aria-hidden="true"></i></md-button>
                    <div ng-include src="'../devices/templates/temperature/temperature.html'"
                         ng-controller="TemperaturesController as tc"
                         ></div>
                </div>

                <div ng-switch-when="light" >
                    <div ng-include src="'../devices/templates/light/light.html'"
                         ng-controller="LightsController as lc"
                    ></div>
                </div>

            </div>


        </md-content>



    </div>

