<!--Temperaturas!-->
<!--{{tc.device}}-->
<!--<br>-->
<!--<button ng-click="tc.whatDevice()">What!</button>-->
<h1 style="text-align: center">{{tc.device.name}}</h1>
<div class="blocksContainer">
    <div class="block horizontalBlock">
        <div style="padding-right:20px;">
            <i style="font-size: 200px;" class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
        </div>
        <div style="font-size: 70px; font-weight: bold">
            40ºC
        </div>
        {{tc.value}}

    </div>
    <div class="block verticalBlock">
        <div>
            <i style="font-size:100px" class="fa fa-microchip" aria-hidden="true"></i>
            <md-switch  ng-model="isActive" aria-label="Finished?">
                Activado
            </md-switch>
        </div>
    </div>
</div>